contourpy==1.3.3
    # via matplotlib
cycler==0.12.1
    # via matplotlib
fonttools==4.63.0
    # via matplotlib
joblib==1.5.3
    # via scikit-learn
kiwisolver==1.5.0
    # via matplotlib
lightgbm==4.6.0
    # via project (pyproject.toml)
matplotlib==3.11.0
    # via
    #   project (pyproject.toml)
    #   seaborn
narwhals==2.22.1
    # via scikit-learn
numpy==2.4.6
    # via
    #   project (pyproject.toml)
    #   contourpy
    #   lightgbm
    #   matplotlib
    #   pandas
    #   scikit-learn
    #   scipy
    #   seaborn
    #   xgboost
packaging==26.2
    # via matplotlib
pandas==3.0.3
    # via
    #   project (pyproject.toml)
    #   seaborn
pillow==12.2.0
    # via matplotlib
pyparsing==3.3.2
    # via matplotlib
python-dateutil==2.9.0.post0
    # via
    #   matplotlib
    #   pandas
scikit-learn==1.9.0
    # via project (pyproject.toml)
scipy==1.17.1
    # via
    #   lightgbm
    #   scikit-learn
    #   xgboost
seaborn==0.13.2
    # via project (pyproject.toml)
six==1.17.0
    # via python-dateutil
threadpoolctl==3.6.0
    # via scikit-learn
tzdata==2026.2
    # via pandas
xgboost==3.2.0
    # via project (pyproject.toml)
